/* CSS Reset Start */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}


img,
picture,
svg {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

p {
    margin-bottom: 0px;
}

/* CSS Reset END */


.pt-5 {
    padding-top: 72px !important;
}

/* Navbar START */

.talk-to-expert {
    width: 161px;
    height: 54px;
    border: 1px solid #D4D5D9;
    background-color: transparent;
}

.talk-to-expert p {
    text-align: left;
    font: normal normal normal 16px/20px Inter;
    color: #333333;
}

.navbar {
    border-bottom: 1px solid #e8e6e6;
}

/* Navbar End */

/* Bookmark Start */

.bookmark {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 0px 10px #00000029;
    box-shadow: 0px 0px 10px #00000029;
    z-index: 9;
    top: 0px;
    height: 60px;
    display: none;
}

.bookmark ul li a {
    font: normal normal normal 14px/26px Inter;
    letter-spacing: 0px;
    color: #080808;
}

.bookmarks-wrapper {
    max-width: 1050px;
    margin: 0px auto;
}

.bookmark ul li a.active {
    color: #19C2F2;
    border-bottom: 2px solid #19c2f2;
}

.bookmarks-list {
    overflow-y: scroll;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    border: none;
    padding: 0px 10px;
}

.bookmark.active {
    display: block;
    -webkit-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 5s ease-in-out;
}

.bookmarks-left,
.bookmarks-right {
    cursor: pointer;
}

.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
    display: block;
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}

/* Bookmark End */

/* Video Start */

.video-pop {
    background: #FFFFFF 0% 0%;
    -webkit-box-shadow: 0px 0px 12px #00000029;
    box-shadow: 0px 0px 12px #00000029;
    width: 290px;
    right: 10px;
    cursor: pointer;
    z-index: 9;
}

.video-pop .girl-img {
    width: 117px;
}

.video-pop p {
    font: normal normal 600 13px/18px Inter;
    width: 100px;
}

.video-pop .play-icon {
    width: 35px;
}

/* Video End */

/* Hero Section Start */

.left-section {
    width: 496px;
}

.right-section {
    width: 656px;
    padding-top: 25px;
    margin-left: 45px;
}

.hero-section-outer-cover {
    height: 495px;
    width: 496px;
    background-color: #c6f3ff;
    padding: 0 5px 40px 35px;
    border-radius: 190px 275px 200px 0;
    margin-top: 8px;
    margin-right: 23px;
    position: relative;
}

.hero-section-inner {
    background-color: #effbff;
    width: 455px;
    height: 455px;
    padding: 94px 0 26px 36px;
    border-radius: 158px 271px 163px 0;
    overflow: hidden;
    position: relative;
}

.hero-section-inner .title {
    font: normal normal 600 24px/29px Work Sans;
    letter-spacing: 0px;
    color: #333333;
    max-width: 300px;
}

.hero-section-outer-cover .video-pop .girl-img {
    width: 39px;
}

.hero-section-outer-cover .video-pop {
    right: 20px;
    top: 5px;
}

.hero-section-inner .title .spc {
    color: #19C2F2;
}

.hero-section-inner .question-title {
    font: normal normal normal 16px/20px Inter;
    color: #080808;
    max-width: 300px;
}

.hero-section-inner ul li {
    font: normal normal normal 16px/20px Inter;
    color: #080808;
}

.hero-section-inner ul li::before {
    content: "";
    background-color: #19C2F2;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: -10px;
}

.hero-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}


.form-title {
    font: normal normal 600 24px / 35px Work Sans;
    letter-spacing: 0px;
    color: #171A21;
    text-align: center;
    padding-top: 26px;
}

.custom-wrap {
    gap: 30px;
    margin-top: 30px;
    font: normal normal normal 13px/16px Inter;
    color: #333333;
    position: relative;
}

.custom-wrap .inputFieldCust input,
select {
    width: 314px;
    height: 43px;
    border: 1px solid #D2D3D4;
    border-radius: 4px;
    padding-left: 13px;
}

.custom-wrap select {
    -webkit-appearance: none;
    -moz-appearance: window;
    padding: 2px 50px 2px 2px;
    background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 10px;
    font: normal normal normal 13px/16px Inter;
    color: #333333;
    background-position-x: 280px;
    background-color: transparent;
}

.custom-wrap .inputFieldCust .common-feild:focus {
    border-radius: 4px;
    border-color: #107591;
    border-width: 2px;
}

.custom-wrap .radiocustom input {
    opacity: 0px;
    height: 0px;
    width: 0px;
}

.tobacoLabel {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 13%;
    bottom: 44px;
    font-family: Inter;
    font-size: 11px;
    color: #939499;
}

.label {
    font: normal normal normal 10px/14px Inter;
    color: #939499;
}

.custom-wrap .radiocustom {
    width: 158px;
    height: 43px;
    border: 1px solid #D2D3D4;
}

.smokeNo,
.gendmale {
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}

.smokeYes,
.gendfemale {
    border-radius: 0px 4px 4px 0px;
}

.checked {
    background-color: #c6f3ff;
}

form button {
    border: none;
    height: 54px;
    width: 224px;
    background: #F2581B;
    border-radius: 4px;
    color: white;
    margin: 0px auto;
}

form button span {
    font: normal normal 600 14px/17px Inter;
    text-transform: uppercase;
}


form .error {
    position: absolute;
    width: 100%;
    bottom: -17px;
    left: 0px;
    font-size: 12px;
    color: red;
    display: none;
}

.privacy-policy {
    text-align: center;
    font: normal normal normal 12px/17px Inter-Regular;
    color: #808080;
}

.privacy-policy a {
    color: #107591;
}

.check-box {
    top: 3px;
}

input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 16px;
    background: #dddddd;
    border: 1px solid #00000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input:checked[type="checkbox"] {
    background: #107591;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 0.5px;
    left: 0;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input:checked[type="checkbox"]::after {
    left: 55%;
}

/* Hero Section End */

/* Our Insurance Section Start */

.our-insurance {
    background-color: #EFFBFF;
    text-align: center;
    padding: 51px 0px;
}

.our-insurance .title {
    font: normal normal 600 24px/26px Inter;
}

.partners {
    background-color: #ffff;
    border: 0.5px solid #E8E9EC;
    width: 121px;
    margin: 0px 10px;
    height: 66px;
}

.partners img {
    width: 109px;
}


/* Our Insurance Section End */


/* Car Insurance Section Start */

.car-insurance {
    max-width: 1074px;
    margin: 0px auto;
    color: #080808;
    letter-spacing: 0px;
}

.car-insurance .title {
    font: normal normal 600 24px/34px Inter;
}

.descrption {
    font: normal normal normal 16px/26px Inter;
}

/* Car Insurance Section End */



/* Key Feature Section Start  Also have common CSS*/
.key-features,
.diff-btw,
.premium-cal,
.factor-to-consdier,
.renew-insurance,
.faq {
    background-color: #EFFBFF;
}

.key-features-inner,
.diff-btw-inner,
.premium-cal-inner,
.factor-to-consdier-inner,
.renew-insurance-inner,
.faq-inner {
    max-width: 1068px;
    margin: 0px auto;
}

.key-features-inner .title,
.need-insurance .title,
.diff-btw .title,
.addon-covers .title,
.premium-cal .title,
.premium-cal-inner .card .title,
.factor-to-consdier .title,
.renew-insurance .title,
.faq .title {
    font: normal normal 600 24px/34px Inter;
    color: #080808;
}

.key-features-inner .subtitle,
.need-insurance .subtitle,
.diff-btw .subtitle,
.addon-covers .subtitle,
.premium-cal .subtitle,
.premium-cal-inner .card .subtitle,
.factor-to-consdier .subtitle,
.file-insurance .subtitle,
.renew-insurance .subtitle {
    font: normal normal normal 16px/26px Inter;
    color: #080808;
}

.key-features-inner .table,
.diff-btw .table {
    border: 1px solid #B9B9B9;
}

.key-features-inner .table tr th,
.diff-btw .table tr th {
    background-color: #C6F3FF;
    font: normal normal 600 16px/26px Inter;
}

.key-features-inner .table tbody tr td,
.diff-btw .table tr td {
    background-color: white;
    font: normal normal normal 16px/24px Inter;
    padding-left: 18px;
    max-width: 664px;
}

/* Key Feature Section End */

/* Need Insurance Section End */

.need-insurance,
.addon-covers {
    max-width: 1074px;
    margin: 0px auto;
}

.need-insurance .need-insurance-card {
    -ms-grid-columns: 1fr 72px 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 68px;
    -webkit-column-gap: 72px;
    -moz-column-gap: 72px;
    column-gap: 72px;
    color: #080808;
    opacity: 1;
}

.need-insurance .need-insurance-card .pointer p {
    font: normal normal 600 20px/26px Inter;
}

.need-insurance .need-insurance-card .descrption {
    padding-left: 30px;
}

/* Need Insurance Section End */


/* Diff btn TR, OD,CC Section Start */

.diff-btw-inner tbody tr {
    height: 56px;
}

.diff-btw tbody tr img {
    margin: 0px auto;
    padding-top: 8px;
}

.diff-btw tbody tr td {
    padding: 18px;
}

/* Diff btn TR, OD,CC Section End */


/* Addon covers Section Start */

.addon-covers ol li h4 {
    font: normal normal 600 20px/26px Inter !important;
}

.addon-covers ol li p {
    font: normal normal normal 16px/26px Inter !important;
    color: #080808;
}

.addon-covers ol li::marker {
    font: normal normal normal 20px/26px Inter;
}

/* Addon covers Section End */

/* Premium Section Start */

.premium-cal-inner .row {
    gap: 35px;
}

.premium-cal-inner .card,
.factor-to-consdier .card {
    width: 332px;
    padding: 32px;
    border: none;
    color: #080808;
    border-radius: 16px;
}

/* Premium Section End */

/* Facotr to consider Start */

.factor-to-consdier .row {
    gap: 35px;
}

.factor-to-consdier .card {
    width: 516px;
}

.factor-to-consdier .card .title {
    font: normal normal 600 20px/26px Inter;
}

.factor-to-consdier .card .subtitle {
    font: normal normal normal 16px/26px Inter;
}

.factor-to-consdier .card .header-question span {
    max-width: 60px;
    width: 100%;
    height: 60px;
    background: #C6F3FF;
    border-radius: 50%;
    font: normal normal 600 20px / 26px Inter;
    margin-right: 12px;
    margin-bottom: 20px;
}

/* Facotr to consider End */


/* File a car Insurance Start */

.file-insurance h4 {
    background-color: #C6F3FF;
    font: normal normal 600 16px/26px Inter;
    padding: 6px 20px;
    color: #080808;
}

.file-insurance .title {
    font: normal normal 600 20px/26px Inter;
}

.need-insurance .addon-covers ol li::marker {
    font: normal normal normal 16px/26px Inter;
}

/* File a car Insurance End */

/* Renew insurance Start */

.renew-insurance-inner .row {
    gap: 35px;
}

.renew-insurance-inner .card {
    width: 516px;
    background: transparent;
    border: none;
}

.renew-insurance-inner .card .title {
    font: normal normal 600 20px/26px Inter;
}

.renew-insurance-inner .card .subtitle {
    font: normal normal normal 16px/26px Inter;
}

.renew-insurance-inner .card .header-question span {
    max-width: 60px;
    width: 100%;
    height: 60px;
    background: #C6F3FF;
    border-radius: 50%;
    font: normal normal 600 20px / 26px Inter;
    margin-right: 12px;
    margin-bottom: 20px;
}

.renew-insurance-inner .subtitle span,
.renew-insurance-inner .subtitle a {
    color: #19C2F2;
    text-decoration: none;
}

.renew-insurance-inner .note .bold {
    font: normal normal 600 16px/26px Inter;
}

/* Renew insurance End */

/* FAQ Start */
.faq .navtabs {
    border-bottom: 0.5px solid #838383;
}

.faq .navtabs .navtab {
    width: 124px;
    height: 44px;
    border-radius: 12px 12px 0px 0px;
    border: 0.5px solid #838383;
    color: #838383;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font: normal normal 600 16px / 26px Inter;
}

.faq .navtabs .navtab.active {
    background: #96E5FC;
    border: none;
    font: normal normal 600 16px/26px Inter;
    color: #080808;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.accordion-collapse,
.accordion-button {
    background: #EFFBFF;
}

.accordion-button {
    font: normal normal 600 16px/26px Inter;
    color: #080808;
}


.accordion-body {
    font: normal normal normal 14px/24px Inter;
    color: #080808;
    padding: 10px 0px;
}

.accordion-button:not(.collapsed) {
    background-color: #EFFBFF;
    color: #080808;
}

.accordion-button {
    padding: 0px 10px 0px 0px;
}

.accordion-item,
.accordion-item:not(:first-of-type) {
    border-top: 0.5px solid #838383;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 20px 0px;
    background-color: transparent;
}

.accordion-item:first-of-type {
    border-top: 0px solid #838383;
}


.accordion-button::after {
    background-image: url('./assets/plus-icon.svg') !important;
}


.accordion-button:not(.collapsed)::after {
    background-image: url('./assets/minus-icon.svg') !important;
}

/* FAQ End */

/* Footer Srart */

.footer {
    background-color: #F1F2F6;
    padding: 25px 0px 22px 0px;
}

.footer-inner {
    max-width: 1350px;
    margin: 0px auto;
    color: #808080;
}

.footer-inner p span {
    font: normal normal bold 14px/24px Inter;
}

.footer p {
    font: normal normal normal 12px/24px Inter;
}

footer .disclamer {
    max-width: 1074px;
    margin: 0px auto;
    font: normal normal normal 12px/20px Inter;
    color: #080808;
}

/* Footer End */

/* Modal Css Start */

.modal {
    max-width: 500px;
    width: 100%;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 200px;
}

.modal-backdrop.show {
    opacity: 0.8;
}

/* Modal Css End */


/* laptop Responsive Start */

@media (min-width: 1229px) {
    .container {
        max-width: 1224px;
    }
}

/* laptop Responsive End */

/* Tablet Responsive Start */

@media only screen and (min-width:992px) and (max-width:1229px) {
    .container {
        max-width: 768px;
    }

    .hero-section-inner {
        padding-top: 10px !important;
    }
}

@media only screen and (min-width:767px) and (max-width:1229px) {

    .factor-to-consdier .card,
    .renew-insurance-inner .card {
        width: 713px;
        margin: 0px auto;
    }

    .navbar-dark .navbar-toggler-icon {
        mix-blend-mode: exclusion;
    }

    .left-section,
    .right-section {
        width: 100%;
        margin-left: 0px;
    }

    .hero-section-outer-cover {
        height: 200px;
        width: 100%;
        padding: 0 3px 8px 8px;
        border-radius: 41px 108px 78px 0;
        margin-top: 12px;
        margin-right: 0;
    }

    .hero-section-inner {
        width: 100%;
        height: 188px;
        padding: 27px 0px 0px 15px;
        border-radius: 41px 106px 74px 0;
    }

    .hero-section-inner .title {
        font: normal normal 600 16px/20px Work Sans;
        max-width: 350px;
    }

    .hero-section-inner .question-title {
        font: normal normal normal 12px/18px Inter;
    }

    .hero-section-inner ul li {
        font: normal normal normal 12px/20px Inter;
        width: 210px;
    }

    .hero-section-inner .hero-img {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .list-unstyled {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .bookmark ul li {
        padding: 5px;
    }

    .hero-section-inner .hero-img img {
        width: 30%;
    }

    .hero-section-inner ul li::before {
        width: 6px;
        height: 6px;
        top: 8px;
        left: -9px;
    }

    .custom-wrap select {
        background-position-x: 280px;
    }
}

/* Tablet Responsive End */

/* Mobile Responsive Start */
@media only screen and (max-width:767px) {

    .navbar .navbar-brand img {
        width: 121px;
    }

    .bookmarks-wrapper {
        max-width: 320px;
    }

    .bookmark ul li a {
        padding: 4px;
        font-size: 11px;
    }

    .left-section,
    .right-section {
        margin: 0px auto;
        width: 100%;
    }

    .right-section {
        padding: 0px;
    }


    .hero-section-outer-cover {
        height: 252px;
        width: 100%;
        padding: 0 3px 8px 8px;
        border-radius: 41px 108px 78px 0;
        margin-top: 12px;
        margin-right: 0;
    }

    .hero-section-inner {
        width: 100%;
        height: 243px;
        padding: 10px 0px 0px 15px;
        border-radius: 41px 106px 74px 0;
    }

    .hero-section-inner .title {
        font: normal normal 600 16px/20px Work Sans;
        max-width: 230px;
    }

    .hero-section-inner .question-title {
        font: normal normal normal 12px/18px Inter;
    }

    .hero-section-inner ul li {
        font: normal normal normal 12px/20px Inter;
        width: 210px;
    }

    .hero-section-inner .hero-img {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .hero-section-inner .hero-img img {
        width: 50%;
    }

    .hero-section-inner ul li::before {
        width: 6px;
        height: 6px;
        top: 8px;
        left: -9px;
    }

    .form-title {
        font-size: 16px;
    }

    .custom-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .custom-wrap .inputFieldCust input,
    select {
        width: 344px;
    }

    .custom-wrap .radiocustom {
        width: 173px;
    }

    form button {
        width: 344px;
    }

    .car-insurance .title {
        font: normal normal 600 18px/26px Inter;
    }

    .descrption {
        font: normal normal normal 14px/24px Inter;
    }

    .key-features-inner .title,
    .need-insurance .title,
    .diff-btw .title,
    .addon-covers .title,
    .premium-cal .title,
    .premium-cal-inner .card .title,
    .factor-to-consdier .title,
    .renew-insurance .title {
        font: normal normal 600 18px/26px Inter;
        color: #080808;
    }

    .key-features-inner .subtitle,
    .need-insurance .subtitle,
    .diff-btw .subtitle,
    .addon-covers .subtitle,
    .premium-cal .subtitle,
    .premium-cal-inner .card .subtitle,
    .factor-to-consdier .subtitle,
    .renew-insurance .subtitle {
        font: normal normal normal 14px/24px Inter;
        color: #080808;
    }

    .key-features-inner .table tr th {
        font: normal normal 600 14px/24px Inter;
    }

    .diff-btw .table tr th,
    .diff-btw .table tr td {
        font: normal normal normal 11px/16px Inter;
    }

    .diff-btw tbody tr img {
        width: 16px;
        padding-top: 12px;
    }

    .key-features-inner .table tbody tr td {
        font: normal normal normal 14px/24px Inter;
        padding-left: 3px;
        padding-right: 0px;
        max-width: 100%;
    }

    .need-insurance .need-insurance-card {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 22px;
    }

    .need-insurance .need-insurance-card .pointer p {
        font: normal normal 600 16px/24px Inter;
    }

    .table>:not(caption)>*>* {
        padding: 0px;
    }

    .addon-covers ol li .title,
    .premium-cal-inner .card .title {
        font: normal normal 600 16px/24px Inter !important;
    }

    .addon-covers ol li .subtitle,
    .premium-cal-inner .card .subtitle {
        font: normal normal normal 14px/24px Inter !important;
    }

    .premium-cal-inner .card,
    .factor-to-consdier .card {
        padding: 16px;
        width: 343px;
        margin: 0px auto;
    }

    .factor-to-consdier .card .header-question span,
    .renew-insurance-inner .card .header-question span {
        max-width: 40px;
        height: 40px;
    }

    .factor-to-consdier .card .title,
    .renew-insurance-inner .card .title {
        font-size: 16px;
    }

    .factor-to-consdier .card .subtitle,
    .renew-insurance-inner .card .subtitle {
        font-size: 14px;
    }

    .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: start !important;
    }

    .faq .navtabs .navtab,
    .faq .navtabs .navtab.active {
        font: normal normal 600 12px/24px Inter;
    }

    .navbar-dark .navbar-toggler-icon {
        mix-blend-mode: exclusion;
    }

    .custom-wrap select {
        background-position-x: 310px;
    }

    .file-insurance .title {
        font: normal normal 600 16px/24px Inter;
    }
}

/* Mobile Responsive End */